body{
  background-color:lightskyblue ;
}
.to-do-list{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   margin-top: 100px;
   
}
h1{
  font-size:2.5rem;
  color:blue;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding:10px 20px;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(234, 70%, 41%);
}
.add-button:hover{
  background-color: hsl(160, 47%, 22%);
}
.delete-button{
  background-color: hsl(353, 77%, 55%);

}
.delete-button:hover{
  background-color: hsl(353, 77%, 35%);

}
.move-up-button{
  background-color: hsl(234, 70%, 41%);
}
.move-up-button:hover{
  background-color: hsl(234, 70%, 21%);;
}
.move-down-button{
  background-color: hsl(281, 81%, 36%);
}
.move-down-button:hover{
  background-color: hsl(281, 81%, 16%);
}

input[type="text"]{
  font-size: 1.6rem;
  padding:10px;
  border:2px solid hsla(0,0%,80%,0.5);
  border-radius: 5px;
  color:hsla(0,0%,0%,0.5);
}
ol {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the list items horizontally */
}
li{
  font-size:1.5rem;
  font-weight: bold;
  padding:15px;
  background-color:hsl(0,0%,97%);
  margin-bottom:10px;
  border:3px solid hsla(0,0%,85%,0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width:600px;
}
.text{
    flex:1;
     /* flex-grow:1;
     flex-shrink: 1;
     flex-basis:0%;*/
}

.delete-button,.move-up-button,.move-down-button{
  padding:8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}